* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    background:#fff;
}
.wrapper{
    width:100%;
    margin: 0 auto;
    background:#fff;
}
.main-header{
    width:100%;
}
.section1-header{
    width:100%;
    height:100px;
    background:#fff;
    text-align:center;
    width: 90%;
    margin:0 auto;
}
.logo{
    width:110px;
    height:110px;
    float:left;
    margin-bottom: 10px;

}
.input{
    display: inline-block;
    margin-top:40px;
    width:300px;
    height:40px;
    padding-left:15px;
    border: 1px #ccc solid;
}
.kasse{
    display:inline-block;
    float: right;
    margin-top:30px;
    border-left:1px rgb(137, 220, 241) solid;
    padding:10px;
}
.kasse h2 {
    font-size: 20px;
    font-weight: 500;
}
.kasse span{
    display:inline-block;
    background:rgb(38, 153, 182);
    color:#fff;
    border-radius:50%;
    width:20px;
    height:20px;
    line-height:20px;
    font-size:15px;
}
.kasse p {
    color:gray;
    text-align: left;
}
/* -------------------this is section2 -----------*/
.section2-header{
    width:100%;
    background:rgb(0, 137, 228);
    height:50px;
    text-align: center;
}

.section2-header ul {

}
.section2-header ul a {
    text-decoration:none;
    color:#fff;
   display:inline-block;
    line-height:50px;
    padding:0 10px;
}
.section2-header ul a:hover {
    background:rgb(49, 145, 235);
}

/* -------------------this is section3 -----------*/

.section3-header {
    background-image: url(imgs/Thomyheader-img.jpg);
    height:400px;
    background-size: cover;
    background-position: center;
}
.section3-header .title {
  padding:100px;
  color:#fff;
}
.title h1 {
    font-size: 35px;
    padding-bottom:15px;
}
.title p {
    font-size: 20px;
    font-weight: 500;
    padding-bottom:15px;
}
.title  .title-button {
    display:inline-block;
    background:rgb(0, 137, 228);
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.title-button:hover{
 background: rgb(49, 145, 235)
}
/* -------------------this is sectio4 ---------------*/
.section4-header {
    width:100%;
    height:50px;
    background:rgba(242, 248, 251, 0.959);
    text-align: center;
}
.section4-header ol  a {
  text-decoration: none;
  list-style-type: square  ;
  display: inline-block;
  line-height:50px;
  padding: 0 10px;
  color: #000;
  font-size: 14px;

}
/*--------------------this is main-section------------*/
.main-section{
    width:90%;
    margin: 0 auto;
    text-align: center;
}
/* this is articel1*/
.article1 {
    padding:25px;

}

 h2 {
    font-weight: 300;
    font-size:20px;
    color:rgb(36, 35, 35);
}
.container {
    background:#fff;
    display: flex;
    justify-content: center;
    padding-top:20px;
    flex-wrap:wrap;

}
.container .box1{
    padding-top:20px;
    margin: 10px;
    width:200px;
    height:260px;
    border: 1px rgb(220, 222, 223) solid;
    text-align: center;
    transition: transform 700ms ;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.sale {
    position:absolute;

    top:5px;
    left:5px;
    font-size: 11px;
    z-index:1000;
    background:rgb(0, 137, 228);
    padding:5px 10px;
    color:#fff;
    font-weight: 600;

}
.box1 img {
    margin:10px 0;
    width: 150px;
    height:140px;
}
.box1 img::after{
    content:"";
    width:50px;
    height: 5px;
    background:rgb(22, 21, 21);
    padding:10px;

}
.price {
    padding-top:10px;
    font-weight: 500;
    display:inline-block;
    font-size:18px;
}
.box1 p {
    padding-top:10px;
    color:gray;
    font-size: 12px;
}

.box1:hover img {
    transform: scale(1.04);
}


/* this is articel2*/

.article2 {
    padding:20px;
    margin: 0 auto;
}
.article2 .article2-container{

    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    width:85%;
    margin:20px auto;

}
.article2-box {
    width:130px;
    height:120px;
    border:1px #ccc solid;
    margin:10px;
}
.article2-box .article2-img {
    margin:5px;
    width:100px;
    height:75px;
}
.article2-span {
    font-size:12px;
    color:blue;
    font-weight: 100;
}
.article2-box:hover {
    border:1px orange solid;
}

/* this is article3*/
.article3 {
    width:920px;
    margin:40px auto;

}
figure{
    width:50%;
    position: relative;
    display: inline-block;

}
figure img {
    width:100%;
    height:300px;

}
figcaption {
    position: absolute;
    top:20px;
    left:20px;
    color:#fff;
}

.img-heading{
    font-size:35px;
    text-align: left;
    padding-bottom:15px;
}
.img-p {
    font-size: 18px;
    color:rgb(209, 204, 204);
}

.text {
    width:50%;
    height:300px;
    float:right;
    display: inline-block;
    border:1px #ccc solid;
    border-left:none;
    padding:20px;
    text-align:left;
}
.paragragh-heading {
    color:rgb(34, 130, 240);
    font-size:20px;
    padding:25px 0;
    letter-spacing: 0.5px;
    font-weight:300;

}
.paragragh-p{
    font-size:14px;
    letter-spacing: 0.5px;
    line-height:20px;
    color:rgb(110, 109, 109);
    font-weight: 450;
}
.text span {
    color:rgb(34, 130, 240);
    font-weight:550;
}

.fixing {
    content: "";
    display: table;
    clear: both;
}
/* --------------------this is main-footer--------*/
.main-footer{
    width:100%;
    background:rgb(49, 145, 235);
    text-align: center;

}

.ul-h1 {
    font-size:18px;
    font-weight: 500;
    padding:35px;
    font-family: fantasy;
}
.ul1 {
  display:inline-block;
  padding:60px  20px;
}

.ul1 ul a {
   margin:20px 0;
    display:block;
    text-decoration:none;
    color:#fff;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.5px;

}
.ul1 ul a:hover{
   color:#ccc;
}








@media screen and (min-width:1450px){
    .wrapper{
        width:90%;

    }
    .article2 .article2-container{


        width:920px;


    }

}
